@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-image: url(../images/webbg.jpeg);
  color: white;
}
h3{
  font-size: 30px;
  text-align: center;
  text-shadow: -5px -5px 2px black;
}
.bd1{
  background:linear-gradient(rgba(94, 255, 0, 0.1),rgba(0,123,222,0.1));
}
